@import '../../../styles.scss';

.contact{
  padding: 40px 0;
  h3{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
  }
  p{
    font-size: 14px;
    color: $gray;
    padding-top: 5px;
  }
}
