<div class="about">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="text-center">About</h3>
        <p class="text-center">Lorem Ipsum has been the industry's standard dummy text. when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>

      <div class="col-12">
        <div class="inner">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
              <img src="../../../assets/img/event1.jpg">
            </div>

            <div class="col-12 col-md-12 col-lg-6">
              <h3>HIGHEST CREATIVE STANDARDS</h3>
              <p>This mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure.</p>
              <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
